body {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

ul {
  list-style: none;
  float: left;
}

li {
  position: relative;
}

.box {
  width: 80px;
  height: 120px;
  margin-top: 10px;
}

.elevator .box {
  background-color: #000;
}

.elevator .active .box {
  background-color: red;
}

.elevator .controls {
  display: none;
}

.elevator .active > .controls {
  display: block;
}

.floors li {
  display: block;
}

.floors h5 {
  position: absolute;
  left: -100%;
}

.controls {
  position: absolute;
  left: 0;
  top: 20px;
}

.controls span {
  background-color: white;
  padding: 6px;
  font-family: sans-serif;
  cursor: pointer;
}

.waiting .controls span.active {
  background-color: #bdbdbd;
}
